@model X.PagedList.IPagedList<DersProgrami>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string GunAdi(int gun) => gun switch
    {
        1 => "Pazartesi",
        2 => "Salı",
        3 => "Çarşamba",
        4 => "Perşembe",
        5 => "Cuma",
        _ => "Bilinmiyor"
    };
}
<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2><b>Öğretmen Ders Programı Sayfası</b></h2>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sınıf</th>
            <th>Gün</th>
            <th>Ders Saati</th>
            <th>Ders Adı</th>
            <th>Ders Öğretmeni</th>
            <th>Ders Öğretmeni</th>
            <th>Ders Öğretmeni</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Sinif?.SinifAd</td>
                <td>@GunAdi(item.Gun)</td>
                <td>@item.DersSaati</td>
                <td>@item.Ders.Ad</td>
                <td>@item.Ogretmen1?.AdSoyad</td>
                <td>@item.Ogretmen2?.AdSoyad</td>
                <td>@item.Ogretmen3?.AdSoyad</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa fa-eyedropper"></i> Sil</button>
                    </form>
                </td>
                <td><a href="/Admin/DersProgramlari/DersProgramlariGuncelle/@item.Id" class="btn btn-outline-info"><i class="fa fa-anchor"></i> Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/DersProgramlari/DersProgramlariEkle/" class="btn btn-outline-success"><i class="fa fa-edit"></i> Ders Programı Ekle</a>

<br />
<!-- 🔹 Sayfalama -->
<div class="mt-3">
    @Html.PagedListPager(Model,
        sayfa => Url.Action("Index", "DersProgramlari", new { area = "Admin", sayfa }),
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string> { "page-item" },
            PageClasses = new List<string> { "page-link" }
        })
</div>