
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2><b>Dashboard</b></h2>
        </div>
    </div>
</div>
<div class="row column1">
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-user yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi1</p>
                    <p class="head_couter">9B Sınıfı</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-clock-o blue1_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi2</p>
                    <p class="head_couter">10B Sınıfı</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-cloud-download green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi3</p>
                    <p class="head_couter">11B Sınıfı</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-comments-o red_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi4</p>
                    <p class="head_couter">12B Sınıfı</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row column2">
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-bar-chart-o yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi5</p>
                    <p class="head_couter">Öğretmen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-amazon blue1_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi6</p>
                    <p class="head_couter">Öğrenci</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-ambulance green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi7</p>
                    <p class="head_couter">Sınıf Sayısı</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-anchor red_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi8</p>
                    <p class="head_couter">Toplam Ders</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row column-gap-3">
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-battery-quarter yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi9</p>
                    <p class="head_couter">9B Ders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-arrow-circle-o-up blue1_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi10</p>
                    <p class="head_couter">10B Ders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-apple green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi11</p>
                    <p class="head_couter">11B Ders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-calendar-check-o red_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.Sayi12</p>
                    <p class="head_couter">12B Ders</p>
                </div>
            </div>
        </div>
    </div>
</div>
